/* default columns layout; style options (offer, intro, promo) bring their own CSS */
.columns:not(.offer, .intro, .promo) > div {
  display: flex;
  flex-direction: column;
}

.columns:not(.offer, .intro, .promo) img {
  width: 100%;
}

.columns:not(.offer, .intro, .promo) > div > div {
  order: 1;
}

.columns:not(.offer, .intro, .promo) > div > .columns-img-col {
  order: 0;
}

.columns:not(.offer, .intro, .promo) > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns:not(.offer, .intro, .promo) > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns:not(.offer, .intro, .promo) > div > div {
    flex: 1;
    order: unset;
  }
}
